<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="{{ url_for('static',filename='css/style2.css') }}"/>
		<title>Seam Carving</title>
		<link rel="icon" href="{{ url_for('static',filename='img/favicon1.png') }}" />
	</head>

	<body>
		<div id="left_div">
			<h1>S.C.I.P</h1>
			<p>Seam Carving for Image Processing</p>
		</div>

		<div id="right_div">
			<form name="form1" action="" method=post enctype = multipart/form-data onsubmit="var loading_div=document.getElementById('loading_container');loading_div.style.display = 'inline';">

	          <select name="operation" class="select" onchange="

	          var upload_mask=document.getElementById('upload_mask');
	          var upload2_div=document.getElementById('upload2_div');
	          var upload1_div=document.getElementById('upload1_div');
	          var reduction_div=document.getElementById('reduction_div');
	          var file=document.getElementById('file');
	          var file2=document.getElementById('file2');
	          var x_red=document.getElementById('x_red_elem');
	          var y_red=document.getElementById('y_red_elem');

	          if(this.selectedIndex == 0){
	            reduction_div.style.display = 'inline';
	            upload1_div.style.display = 'inline';
	            upload2_div.style.display = 'none';

	            file.setAttribute('required','');
	            upload_mask.removeAttribute('required','');
	            x_red.setAttribute('required','');
	            y_red.setAttribute('required','');
	          }
	          else if(this.selectedIndex == 1){
	            reduction_div.style.display = 'none';
	            upload1_div.style.display = 'inline';
	            upload2_div.style.display = 'inline';

	            upload_mask.setAttribute('required','');
	            file.setAttribute('required','');
	            x_red.removeAttribute('required','');
	            y_red.removeAttribute('required','');
	          }
	          else if(this.selectedIndex == 2){
	            reduction_div.style.display = 'inline';
	            upload1_div.style.display = 'inline';
	            upload2_div.style.display = 'none';

	            file.setAttribute('required','');
	            upload_mask.removeAttribute('required','');
	            x_red.setAttribute('required','');
	            y_red.setAttribute('required','');
	          }
	          ">
	            <option selected="selected" value="resize">Resizing</option>
	            <option value="mask">Masque</option>
	            <option value="accent">Accentuation</option>
	          </select><br>

	          <div id="upload1_div">
	            <input class="inputfile" id="file" type="file" name="file" accept=".jpg, .jpeg, .png" required><label for="file"><img height="20px" width="17px" src="{{ url_for('static',filename='img/upload-button.svg') }}"> Fichier</label><br>
	          </div>

	          <div id="upload2_div" style="display: none">
	            <input class="inputfile" type=file name="file2" id="upload_mask" accept=".jpg, .jpeg, .png"><label for="file"><img height="20px" width="17px" src="{{ url_for('static',filename='img/upload-button.svg') }}"> Masque</label><br>
	          </div>

	          <div id="reduction_div">
	            <p>X : </p><input type="number" name="x_red" id="x_red_elem" class="number" required><br>
	            <p>Y : </p><input type="number" name="y_red" id="y_red_elem" class="number" required><br>
	          </div>
	          <input class="midnight-blue-flat-button" type=submit value=Upload>
	        </form>
	        <div id="loading_container" style="display: none;">
            	<div id="loading"></div>
        	</div>
		</div>
	</body>
</html>